# Vignette
inst/doc
/inst/doc/vignette.R
/inst/doc/vignette.Rnw
/vignettes/vignette.R
/cfg.R

# History files
.Rhistory
.Rapp
*.history

# Example code in package build process
*-Ex.R

# RStudio files
*.RData
!/data/*.RData
.Rproj.user/
.Rproj
.Rproj.user
*.Rdata
*.Rproj


# TRONCO Output
*.pdf
*.tar.gz
*.tex
*.mat
*.zip
*.png

# Configuration file
cfg.R

# Other file
*.log
*.out
*.toc
*.DS_Store
*.sw*

# C++ file
*.o
*.so
*.dll
