
.DS_Store
.Rhistory
.Rproj.user/F9589ABC/cpp-definition-cache
.Rproj.user/F9589ABC/pcs/debug-breakpoints.pper
.Rproj.user/F9589ABC/pcs/files-pane.pper
.Rproj.user/F9589ABC/pcs/windowlayoutstate.pper
.Rproj.user/F9589ABC/pcs/source-pane.pper
.Rproj.user/F9589ABC/rmd-outputs
.Rproj.user/F9589ABC/pcs/workbench-pane.pper
.Rproj.user/F9589ABC/saved_source_markers
.Rproj.user
.Rbuildignore
inst/doc
